# Traitement de données pour la régression sur la prédiction d'une seule station

## Interpolation

Essayer H1700010. Puisque les données de météo SYNOP sont à chaque 3h, et les donnée de débit sont à chaque 2h, on voudrait interpoler les deux données de sortes qu'elles sont tous à chaque 1h. On utilise d'abord l'interpolation linéaire.

In [1]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import os

In [13]:
data = pd.read_csv("../Data/Extraction_Hydro/Mesures_Seine.csv", encoding="utf-8", sep=",")
data["Date"]= pd.to_datetime(data["Date"])
data = data.sort_values(by="Date")
data= data.drop_duplicates("Date")
data = data.set_index('Date').resample('1H')
interpolated = data.interpolate(method='linear')

liste_stations = pd.read_csv("../Data/Extraction_Hydro/Stations_Seine.csv", encoding="utf-8", sep=",")
liste_stations = liste_stations["Code station"]

for station in liste_stations:
    for i in range(1,11):
        interpolated[str(station)+"-"+str(i)] = interpolated[str(station)].shift(periods = i)
interpolated = interpolated.iloc[10:,]
interpolated.to_csv("../Data/Extraction_Hydro/Mesures_Seine_Interp.csv", header = True)
interpolated

,H0100010,H0100020,H0400010,H0400020,H0800011,H0800012,H0810010,H1700010,H3930020,H4340020,...,H8100021-1,H8100021-2,H8100021-3,H8100021-4,H8100021-5,H8100021-6,H8100021-7,H8100021-8,H8100021-9,H8100021-10
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-01 10:00:00,13.90,25.40,60.10,9.640,24.00,13.20,30.50,59.30,313.0,300.0,...,752.0,742.0,733.0,724.0,720.0,716.0,713.0,710.0,706.5,703.0
2010-01-01 11:00:00,13.90,25.45,60.15,9.645,23.95,13.15,30.70,59.65,314.5,301.0,...,762.0,752.0,742.0,733.0,724.0,720.0,716.0,713.0,710.0,706.5
2010-01-01 12:00:00,13.90,25.50,60.20,9.650,23.90,13.10,30.90,60.00,316.0,302.0,...,756.0,762.0,752.0,742.0,733.0,724.0,720.0,716.0,713.0,710.0
2010-01-01 13:00:00,13.90,25.55,60.30,9.655,23.85,13.10,31.10,60.35,316.5,302.5,...,750.0,756.0,762.0,752.0,742.0,733.0,724.0,720.0,716.0,713.0
2010-01-01 14:00:00,13.90,25.60,60.40,9.660,23.80,13.10,31.30,60.70,317.0,303.0,...,747.0,750.0,756.0,762.0,752.0,742.0,733.0,724.0,720.0,716.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 18:00:00,12.10,31.40,103.00,71.400,72.10,33.20,97.00,186.00,526.0,545.0,...,1145.0,1140.0,1145.0,1150.0,1155.0,1160.0,1160.0,1160.0,1160.0,1160.0
2019-12-31 19:00:00,12.00,31.30,102.50,71.300,72.25,33.20,97.10,186.50,524.5,540.5,...,1150.0,1145.0,1140.0,1145.0,1150.0,1155.0,1160.0,1160.0,1160.0,1160.0
2019-12-31 20:00:00,11.90,31.20,102.00,71.200,72.40,33.20,97.20,187.00,523.0,536.0,...,1145.0,1150.0,1145.0,1140.0,1145.0,1150.0,1155.0,1160.0,1160.0,1160.0
2019-12-31 21:00:00,11.75,31.00,101.50,71.500,72.45,33.25,97.25,189.00,521.5,535.0,...,1140.0,1145.0,1150.0,1145.0,1140.0,1145.0,1150.0,1155.0,1160.0,1160.0
2019-12-31 22:00:00,11.60,30.80,101.00,71.800,72.50,33.30,97.30,191.00,520.0,534.0,...,1140.0,1140.0,1145.0,1150.0,1145.0,1140.0,1145.0,1150.0,1155.0,1160.0

In [4]:
'''for i in range(10,21):
    data = pd.read_csv("../Data/Extraction_Hydro/Seine/H1700010_20"+ str(i) +".csv", encoding="utf-8", sep=";")
    data["Date"]= data["Date"].str.split(pat="+",expand = True)
    data = data[["Date","Q (m3/s)"]]
    data["Date"]= pd.to_datetime(data["Date"])
    data = data.sort_values(by="Date")
    data= data.drop_duplicates("Date")
    data = data.set_index('Date').resample('1H')
    interpolated = data.interpolate(method='linear')
    interpolated.to_csv("../Data/Extraction_Hydro/Seine/H1700010_20"+ str(i) +"_ip.csv", header = True)'''

In [33]:
'''filepaths = ["../Data/Extraction_Hydro/Seine/H1700010_20"+ str(i) +"_ip.csv" for i in range(10,20)]
data = pd.concat(map(pd.read_csv, filepaths))
#data.to_csv("../Data/Extraction_Hydro/Seine/H1700010_ip.csv", header = True)'''

Il me semble que les données de 2020 sont les mêmes que 2019, du coup je n'ai pas utilisé 2020.

Ensuite on ajoute les données de débit d'eau d'il y a 1h, 2h, et 3h.

In [ ]:
'''meteo = pd.read_csv("../Data/Brut/Meteo/donnees-synop-essentielles-omm.csv")
meteo = meteo["ID OMM station", "Date", "Température", "Humidité", "Pression station", "Précipitations dans la dernière heure", "Précipitations dans les 3 dernières heures"]
data.rename(columns={'Température': 'Temp'+str(i),
               'Précipitations dans la dernière heure': 'Prec'+str(i),
              'Précipitations dans les 3 dernières heures':'Prec3h'+str(i)},
      inplace=True, errors='raise')

'''

In [38]:
data

                     Date      Q    Q-1    Q-2    Q-3
0     2010-01-01 00:00:00   55.8    NaN    NaN    NaN
1     2010-01-01 01:00:00   56.2   55.8    NaN    NaN
2     2010-01-01 02:00:00   56.6   56.2   55.8    NaN
3     2010-01-01 03:00:00   57.0   56.6   56.2   55.8
4     2010-01-01 04:00:00   57.4   57.0   56.6   56.2
...                   ...    ...    ...    ...    ...
8754  2019-12-31 18:00:00  186.0  185.5  185.0  184.5
8755  2019-12-31 19:00:00  186.5  186.0  185.5  185.0
8756  2019-12-31 20:00:00  187.0  186.5  186.0  185.5
8757  2019-12-31 21:00:00  189.0  187.0  186.5  186.0
8758  2019-12-31 22:00:00  191.0  189.0  187.0  186.5

[87638 rows x 5 columns]

In [39]:
for i in range(1,13):
    meteo = pd.read_csv("../Data/meteo/"+ str(i) +".csv")
    data=pd.merge(data,meteo)
    data.rename(columns={'Température': 'Temp'+str(i),
                   'Précipitations dans la dernière heure': 'Prec'+str(i),
                  'Précipitations dans les 3 dernières heures':'Prec3h'+str(i)},
          inplace=True, errors='raise')

In [40]:
data.to_csv('../Data/meteo/H1700010_bind.csv', header = True)