In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
import matplotlib as plt

In [2]:
def fct_scores_mse(Y_true, Y_pred, liste_stations):
    
    Y_true = Y_true.sort_values(by = ["Date"])
    Y_pred = Y_pred.sort_values(by = ["Date"])
    
    liste_mse = []
    for code in liste_stations:
        liste_mse.append(np.mean(np.square(Y_true[code] - Y_pred[code])))
    resultat = pd.DataFrame({"Code station": liste_stations, "MSE": liste_mse})
    return resultat

In [3]:
stations_debit = pd.read_csv("../Data/Base/Stations_Debit.csv")
liste_stations = list(stations_debit["Code station"])

mesures_train_X = pd.read_csv("../Data/Base/Mesures_Train_X.csv")
mesures_train_X["Date"] = pd.to_datetime(mesures_train_X["Date"], format = "%Y/%m/%d %H:%M:%S")
mesures_train_Y = pd.read_csv("../Data/Base/Mesures_Train_Y.csv")
mesures_train_Y["Date"] = pd.to_datetime(mesures_train_Y["Date"], format = "%Y/%m/%d %H:%M:%S")

train_split_X = pd.read_csv("../Data/Base/Index_CV_X.csv")
train_split_Y = pd.read_csv("../Data/Base/Index_CV_Y.csv")

mesures_test_X = pd.read_csv("../Data/Base/Mesures_Test_X.csv")
mesures_test_X["Date"] = pd.to_datetime(mesures_test_X["Date"], format = "%Y/%m/%d %H:%M:%S")
mesures_test_Y = pd.read_csv("../Data/Base/Mesures_Test_Y.csv")
mesures_test_Y["Date"] = pd.to_datetime(mesures_test_Y["Date"], format = "%Y/%m/%d %H:%M:%S")

In [4]:
mesures_train_X

,Date,O0200020,O2620010,O6140010,O9000010,K0030020,K0100020,K0260020,K0550010,K0690010,...,Vitesse_vent_07747,Temperature_07747,Humidite_07747,Precipitations_07747,Pression_07761,Direction_vent_07761,Vitesse_vent_07761,Temperature_07761,Humidite_07761,Precipitations_07761
0,2010-01-01 00:00:00,41.3,122.0,285.0,506.0,0.42,2.87,9.33,22.8,6.90,...,7.733333,10.333333,71.000000,0.133333,99393.333333,206.666667,8.400000,14.233333,90.000000,0.000000
1,2010-01-01 02:00:00,47.4,125.0,291.0,520.0,0.44,2.86,9.93,21.6,7.01,...,7.733333,10.333333,71.000000,0.133333,99393.333333,206.666667,8.400000,14.233333,90.000000,0.000000
2,2010-01-01 04:00:00,49.2,132.0,300.0,516.0,0.50,2.84,10.80,21.9,7.03,...,11.800000,10.000000,61.000000,0.000000,99180.000000,220.000000,9.800000,14.300000,90.000000,0.000000
3,2010-01-01 06:00:00,42.4,135.0,314.0,496.0,0.54,2.90,10.20,20.8,7.04,...,9.066667,10.533333,50.333333,0.000000,99193.333333,240.000000,6.666667,12.900000,78.000000,0.533333
4,2010-01-01 08:00:00,47.3,132.0,329.0,472.0,0.54,3.04,10.70,21.4,7.12,...,9.066667,11.200000,43.000000,0.000000,99253.333333,253.333333,9.066667,11.800000,74.666667,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2019-12-31 14:00:00,57.8,205.0,621.0,1110.0,1.53,6.48,19.90,46.2,89.60,...,1.533333,13.133333,68.666667,0.000000,103073.333333,243.333333,1.800000,12.366667,70.333333,0.000000
43820,2019-12-31 16:00:00,64.5,206.0,634.0,1110.0,1.53,6.46,19.90,43.7,89.30,...,2.400000,12.400000,74.000000,0.000000,103040.000000,310.000000,1.200000,12.500000,67.000000,0.000000
43821,2019-12-31 18:00:00,67.2,201.0,635.0,1100.0,1.52,6.45,19.70,42.8,89.00,...,1.866667,8.800000,84.666667,0.000000,103066.666667,136.666667,1.733333,10.833333,74.333333,0.000000
43822,2019-12-31 20:00:00,56.3,198.0,625.0,1100.0,1.50,6.42,19.50,45.2,88.70,...,1.633333,6.666667,89.666667,0.000000,103073.333333,50.000000,2.400000,9.100000,81.000000,0.000000
43823,2019-12-31 22:00:00,55.9,199.0,602.0,1110.0,1.49,6.36,19.40,45.7,88.40,...,1.700000,6.000000,89.000000,0.000000,103060.000000,50.000000,3.200000,7.300000,87.000000,0.000000

In [5]:
#On considère ici que la série de débit d'eau est autoregressive. On shift tous les données pour features J-7.
def series_to_supervised(data, back_begin=1, back_end=0, pred_until=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = DataFrame(data)
    cols = list()
    # input sequence (t-(back_begin), ... t-(back-end))
    for i in range(back_begin, back_end, -1):
        cols.append(df.shift(i))
    # forecast sequence (t, t+1, ... t+(pred_until))
    for i in range(0, pred_until):
        cols.append(df.shift(-i))
    # put it all together
    agg = concat(cols, axis=1)
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg.values

### Essaie 1 Random Forest regression
input: le jour [J-(back_begin), J-(back-end)] de toutes les stations

prédire: le jour [J, J+(pred_until)] de toutes les stations

On suppose le modèle avec saisonnalité (calculé dans le modèle GAM par exemple)

$Y_t \sim \sum_{j \in C} (Y_{t-begin}^j + \ldots + Y_{t-end}^j) + \sum_{k \in D} (M_{t-begin}^k + \ldots + M_{t-end}^k) + S_t$

$Y_t^j$ : débit d'eau en temps $t$ à la station rivière $j\in C$

$M_{t-begin}^k$ : météo (plusieurs variables) en temps $t$ (de l'année) à la station météo $k\in D$

$S_t$: saisonnalité débit d'eau (calculé dans le modèle GAM par exemple). Par le résultat GAM, on utilise knot=10 pour $S_t$.

Peut-être il est intéressant de regarder les recherche récente sur random forest vectoriel, qui prédit un vecteur dont les éléments sont non indépendant. Pour l'instant faisons le cas simple: supposons que les débits d'eau des toutes les stations d'un même temps sont indépendants entre eux.