In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
from matplotlib import cm
from matplotlib.colors import ListedColormap

In [64]:
list_models = ["Naif","Moyenne","GAM_Gamma","GAMGamma_VAR","GAMLASSOAR","GAMPLSAR","GAMTreeAR","GAMRandomForestAR","GAMGradientBoostingAR"]

In [65]:

cv_scores=pd.DataFrame()

for name in list_models:
    curr_scores = pd.read_csv("../Data/"+ name +"/Test_scores.csv")
    curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
    cv_scores=pd.concat([cv_scores,curr_scores],ignore_index=True) 
    

cv_scores.insert(0,"Name",list_models)
cv_scores.to_csv("../Data/comparaison_scores.csv",index = False)
cv_scores

/tmp/ipykernel_12980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()

                    Name        RMSE         MAE            R2
0                   Naif  111.859047   61.097277  9.901609e-01
1                Moyenne  142.753501  110.192353  3.410914e-32
2              GAM_Gamma  124.598067   89.685585  3.741788e-01
3           GAMGamma_VAR   88.285766   55.022888  6.556175e-01
4             GAMLASSOAR  120.604024   88.915402  2.671748e-01
5               GAMPLSAR  122.433854   88.437935  5.356885e-01
6              GAMTreeAR  131.724535   92.751957  3.092072e-01
7      GAMRandomForestAR  125.090926   91.225300  3.087073e-01
8  GAMGradientBoostingAR  120.040863   83.893601  3.266645e-01

In [73]:

cv_scores=pd.DataFrame()

for name in list_models:
    curr_scores = pd.read_csv("../Data/"+ name +"/Test_scores.csv").iloc[15:,:]
    curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
    cv_scores=pd.concat([cv_scores,curr_scores],ignore_index=True) 
    

cv_scores.insert(0,"Name",list_models)
cv_scores.to_csv("../Data/comparaison_scores_Seine.csv",index = False)
cv_scores

/tmp/ipykernel_12980/1771765550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/1771765550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/1771765550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/1771765550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/1771765550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/1771765550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/1771765550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/1771765550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_12980/1771765550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()

                    Name       RMSE        MAE            R2
0                   Naif  39.889080  24.197302  1.000777e+00
1                Moyenne  81.161086  65.299590  3.187921e-32
2              GAM_Gamma  96.554020  75.899876  3.347032e-01
3           GAMGamma_VAR  29.764290  22.082431  7.710459e-01
4             GAMLASSOAR  80.163943  66.542296  2.421511e-01
5               GAMPLSAR  94.406616  75.428527  4.980664e-01
6              GAMTreeAR  81.231077  63.196173  3.194073e-01
7      GAMRandomForestAR  82.331630  66.538284  2.744756e-01
8  GAMGradientBoostingAR  68.971827  49.333971  2.415771e-01