In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
from matplotlib import cm
from matplotlib.colors import ListedColormap

In [6]:
list_models = ["Naif","Moyenne","GAM_Gamma","GAMGamma_VAR","GAMLASSOAR","GAMPLSAR","GAMTreeAR","GAMRandomForestAR","GAMGradientBoostingAR"]

In [7]:

cv_scores=pd.DataFrame()

for name in list_models:
    curr_scores = pd.read_csv("../Data/"+ name +"/Test_scores.csv")
    curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
    cv_scores=pd.concat([cv_scores,curr_scores],ignore_index=True) 
    

cv_scores.insert(0,"Name",list_models)
cv_scores.to_csv("../Data/comparaison_scores.csv",index = False)
cv_scores

/tmp/ipykernel_6980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/359268968.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()

                    Name        RMSE         MAE            R2
0                   Naif  111.859047   61.097277  9.901609e-01
1                Moyenne  142.753501  110.192353  3.410914e-32
2              GAM_Gamma  124.598067   89.685585  3.741788e-01
3           GAMGamma_VAR   88.285766   55.022888  6.556175e-01
4             GAMLASSOAR  120.604024   88.915402  2.671748e-01
5               GAMPLSAR  122.433854   88.437935  5.356885e-01
6              GAMTreeAR  131.724535   92.751957  3.092072e-01
7      GAMRandomForestAR  125.090926   91.225300  3.087073e-01
8  GAMGradientBoostingAR  122.361853   88.782778  3.301293e-01

In [10]:

cv_scores=pd.DataFrame()

for name in list_models:
    curr_scores = pd.read_csv("../Data/"+ name +"/Test_scores.csv").iloc[4:15,:]
    curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
    cv_scores=pd.concat([cv_scores,curr_scores],ignore_index=True) 
    

cv_scores.insert(0,"Name",list_models)
cv_scores.to_csv("../Data/comparaison_scores_Loire.csv",index = False)
cv_scores

/tmp/ipykernel_6980/1116235550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/1116235550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/1116235550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/1116235550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/1116235550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/1116235550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/1116235550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/1116235550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()
/tmp/ipykernel_6980/1116235550.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  curr_scores = pd.DataFrame(curr_scores.mean()).transpose()

                    Name        RMSE         MAE            R2
0                   Naif  125.352645   66.073734  9.954130e-01
1                Moyenne  167.152479  136.659010  3.304406e-32
2              GAM_Gamma  125.273551   90.679128  3.813015e-01
3           GAMGamma_VAR  103.961887   61.669719  5.337895e-01
4             GAMLASSOAR  135.428200   99.393718  3.113598e-01
5               GAMPLSAR  128.083989   91.583343  5.632422e-01
6              GAMTreeAR  157.051417  109.743894  3.267175e-01
7      GAMRandomForestAR  141.714795  103.698979  3.663962e-01
8  GAMGradientBoostingAR  140.405568  102.398156  4.608979e-01