On prend le problème de prédiction du débit moyen journalier à une semaine, le critère que l'on va minimiser est un mean square error sur toutes les stations. (discuter)

On choisis de faire de la validation croisée pour faire de la sélection de modèle, et on garde une ensemble de test.  
On a des données de 2010 à 2020 (11 années).  

On garde 2020 comme ensemble de test, et on fait 10 ensembles de validation croisée, et on utilise le split time series de sklearn (prend le début et tester sur l'année suivante), ca fait une erreur calculée sur 9 splits.

Pour les évaluations, la première prédiction est celle du 15 Janvier, que l'on prédit à partir des données du 1 au 7 Janvier, on se place le 8 à 00h00. (on laisse une semaine de données pour calculer les features, et on prédit à J+7).

In [1]:
import pandas as pd
import numpy as np

In [2]:
stations_debit = pd.read_csv("../Data/Base/Stations_Debit.csv")
mesures = pd.read_csv("../Data/Base/Mesures.csv")
mesures["Date"] = pd.to_datetime(mesures["Date"], format = "%Y/%m/%d %H:%M:%S")

## Ensemble de test

In [3]:
mesures_2020 = mesures[mesures["Date"].apply(lambda x: x.year == 2020)]

In [4]:
mesures_2020_X = mesures.copy()
mesures_2020_X.to_csv("../Data/Base/Mesures_Test_X.csv",
                     index = False)
mesures_2020_X

,Date,O0200020,O2620010,O6140010,O9000010,K0030020,K0100020,K0260020,K0550010,K0690010,...,Vitesse_vent_07747,Temperature_07747,Humidite_07747,Precipitations_07747,Pression_07761,Direction_vent_07761,Vitesse_vent_07761,Temperature_07761,Humidite_07761,Precipitations_07761
0,2010-01-01 00:00:00,41.3,122.0,285.0,506.0,0.42,2.87,9.33,22.8,6.90,...,7.733333,10.333333,71.000000,0.133333,99393.333333,206.666667,8.400000,14.233333,90.000000,0.000000
1,2010-01-01 02:00:00,47.4,125.0,291.0,520.0,0.44,2.86,9.93,21.6,7.01,...,7.733333,10.333333,71.000000,0.133333,99393.333333,206.666667,8.400000,14.233333,90.000000,0.000000
2,2010-01-01 04:00:00,49.2,132.0,300.0,516.0,0.50,2.84,10.80,21.9,7.03,...,11.800000,10.000000,61.000000,0.000000,99180.000000,220.000000,9.800000,14.300000,90.000000,0.000000
3,2010-01-01 06:00:00,42.4,135.0,314.0,496.0,0.54,2.90,10.20,20.8,7.04,...,9.066667,10.533333,50.333333,0.000000,99193.333333,240.000000,6.666667,12.900000,78.000000,0.533333
4,2010-01-01 08:00:00,47.3,132.0,329.0,472.0,0.54,3.04,10.70,21.4,7.12,...,9.066667,11.200000,43.000000,0.000000,99253.333333,253.333333,9.066667,11.800000,74.666667,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48211,2020-12-31 14:00:00,42.3,319.0,865.0,2010.0,0.75,2.94,11.70,34.0,27.50,...,2.066667,12.600000,40.666667,0.000000,101170.000000,43.333333,1.700000,10.533333,76.333333,-0.033333
48212,2020-12-31 16:00:00,45.7,311.0,1080.0,2000.0,0.75,2.94,11.60,33.7,43.10,...,2.600000,12.400000,48.000000,0.000000,101130.000000,30.000000,1.300000,10.200000,79.000000,-0.100000
48213,2020-12-31 18:00:00,48.6,301.0,1020.0,1950.0,0.75,2.96,11.60,31.7,34.80,...,2.400000,9.800000,55.333333,0.000000,101143.333333,36.666667,2.366667,8.466667,84.333333,-0.033333
48214,2020-12-31 20:00:00,48.9,292.0,967.0,1910.0,0.75,2.98,11.50,33.1,37.20,...,2.433333,7.566667,63.666667,0.000000,101130.000000,43.333333,2.933333,7.666667,86.666667,0.200000
48215,2020-12-31 22:00:00,47.0,284.0,934.0,1920.0,0.75,3.00,11.50,33.4,58.00,...,2.700000,5.700000,73.000000,0.000000,101090.000000,50.000000,3.000000,7.800000,86.000000,0.600000

In [5]:
mesures_2020_Y = mesures_2020[mesures_2020["Date"].apply(lambda x: x.month == 1)][["Date"] + list(stations_debit["Code station"])].groupby(mesures_2020["Date"].apply(lambda x: x.day)).mean()
mesures_2020_Y["Jour"] = list(mesures_2020_Y.index)
mesures_2020_Y["Mois"] = 1
mesures_2020_Y = mesures_2020_Y[mesures_2020_Y["Jour"] >= 15]
for i in range(2, 13):
    mesures_mois = mesures_2020[mesures_2020["Date"].apply(lambda x: x.month == i)][["Date"] + list(stations_debit["Code station"])].groupby(mesures_2020["Date"].apply(lambda x: x.day)).mean()
    mesures_mois["Jour"] = list(mesures_mois.index)
    mesures_mois["Mois"] = i
    mesures_2020_Y = pd.concat([mesures_2020_Y, mesures_mois], axis=0)

In [6]:
mesures_2020_Y.to_csv("../Data/Base/Mesures_Test_Y.csv",
                     index = False)
mesures_2020_Y

,O0200020,O2620010,O6140010,O9000010,K0030020,K0100020,K0260020,K0550010,K0690010,K0910050,...,H0400020,H0800011,H0800012,H0810010,H1700010,H3930020,H4340020,H8100021,Jour,Mois
Date,,,,,,,,,,,,,,,,,,,,,
15,32.558333,125.416667,303.500000,518.833333,0.962500,3.465000,9.922500,30.966667,33.968333,58.808333,...,15.458333,12.450000,11.283333,28.841667,105.083333,290.583333,298.333333,648.750000,15,1
16,34.158333,116.583333,322.416667,507.250000,0.943333,3.218333,9.325000,29.525000,34.380000,40.100000,...,14.091667,11.608333,11.016667,27.100000,97.091667,267.083333,274.583333,611.416667,16,1
17,36.283333,128.500000,319.000000,546.166667,0.958333,3.280000,9.489167,27.950000,35.800000,53.966667,...,13.033333,10.725000,10.733333,25.416667,90.841667,261.000000,270.416667,573.083333,17,1
18,38.525000,138.750000,345.583333,534.583333,0.927500,3.451667,11.091667,28.375000,70.450000,44.008333,...,11.958333,10.051667,10.508333,24.000000,86.033333,249.666667,255.666667,561.333333,18,1
19,34.666667,138.333333,335.083333,575.500000,0.888333,3.070000,9.660000,26.816667,68.816667,65.058333,...,10.983333,8.877500,10.608333,22.566667,80.850000,238.916667,250.416667,521.833333,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,41.291667,188.250000,378.833333,627.666667,0.672500,3.170000,13.083333,30.383333,69.258333,24.091667,...,15.008333,8.342500,15.566667,21.225000,47.258333,226.666667,256.500000,595.083333,27,12
28,51.316667,243.500000,425.666667,676.250000,0.683333,3.257500,13.516667,32.983333,85.591667,76.791667,...,15.666667,9.336667,17.275000,22.583333,48.200000,248.000000,302.250000,711.666667,28,12
29,47.250000,552.666667,1474.750000,1975.833333,0.702500,3.126667,13.058333,35.491667,83.050000,108.750000,...,24.841667,12.816667,20.991667,26.108333,50.350000,308.833333,353.666667,846.833333,29,12
30,47.225000,359.583333,1192.916667,2684.166667,0.760833,3.132500,12.375000,32.058333,43.616667,66.541667,...,35.583333,16.558333,23.133333,32.808333,55.908333,385.250000,425.083333,901.166667,30,12
31,47.516667,315.166667,963.666667,2033.333333,0.750000,2.970000,11.700000,30.825000,32.183333,44.100000,...,43.950000,19.666667,23.825000,38.083333,69.350000,377.833333,413.083333,933.083333,31,12