In [2]:
import numpy as np
import pandas as pd
import geopandas as gpd
import datetime
import matplotlib.pyplot as plt


from shapely.geometry import Point

In [3]:
##Récupérer les données météo

In [4]:
tableau_stations_file = "Data/Seine/Stations_2019.csv"
tableau_stations = gpd.read_file(tableau_stations_file, encoding='utf-8')

world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
cities = gpd.read_file(gpd.datasets.get_path('naturalearth_cities'))

In [5]:
tableau_stations['geometry'] = tableau_stations.apply(lambda x: Point(float(x['X (m)']), float(x['Y (m)'])), axis = 1)
tableau_stations = tableau_stations.set_crs('EPSG:27572')
tableau_stations = tableau_stations.to_crs(world.crs)
tableau_stations

,Code station,Libelle station,Regime influencé,Altitude du zéro de l'échelle,Coordonnées,X (m),Y (m),geometry
0,H0020010,La Seine à Quemigny-sur-Seine [Cosne],pas ou faiblement,288.05,Lambert II Étendu,775157,2300217,POINT (4.66954 47.67808)
1,H0100010,La Seine à Nod-sur-Seine,pas ou faiblement,248.25,Lambert II Étendu,767439,2309604,POINT (4.57034 47.76448)
2,H0100020,La Seine à Plaines-Saint-Lange,pas ou faiblement,179.35,Lambert II Étendu,760029,2335130,POINT (4.48082 47.99581)
3,H0400010,La Seine à Bar-sur-Seine,pas ou faiblement,148,Lambert II Étendu,751916,2348365,POINT (4.37676 48.11672)
4,H0400020,La Seine à Courtenot,pas ou faiblement,0,Lambert II Étendu,746950,2351620,POINT (4.31119 48.14712)
5,H0800011,La Seine [partielle] à Troyes [Foicy],fortement,102,Lambert II Étendu,731065,2368493,POINT (4.10290 48.30219)
6,H0800012,La Seine [partielle] à Troyes [Tauxelles],fortement,100,Lambert II Étendu,729271,2369769,POINT (4.07911 48.31402)
7,H0810010,La Seine à Méry-sur-Seine [après création gran...,fortement,78,Lambert II Étendu,714764,2390999,POINT (3.88926 48.50758)
8,H1700010,La Seine à Pont-sur-Seine,fortement,60,Lambert II Étendu,692920,2392352,POINT (3.59406 48.52325)
9,H1940020,La Seine à Bazoches-lès-Bray [station ultrason],fortement,52.59,Lambert II Étendu,663190,2381000,POINT (3.19008 48.42479)
10,H2900011,La Seine à Montereau-Fault-Yonne [station US],,45.77,Lambert II Étendu,646210,2376785,POINT (2.96027 48.38833)
11,H3930020,La Seine à Saint-Fargeau-Ponthierry [Sainte-As...,fortement,34.72,Lambert II Étendu,615835,2393175,POINT (2.55086 48.53713)
12,H4340020,La Seine à Alfortville,pas ou faiblement,29.46,Lambert II Étendu,605979,2420343,POINT (2.41782 48.78150)
13,H5920011,La Seine à Paris [Austerlitz avant création lacs],fortement,25.92,Lambert II Étendu,602142,2427451,POINT (2.36567 48.84541)
14,H5920014,La Seine à Paris-13e__Arrondissement [pont d'A...,,25.92,Lambert II Étendu,602130,2427440,POINT (2.36551 48.84531)
15,H8100020,La Seine à Vernon,,9.16,Lambert II Étendu,538060,2455707,POINT (1.48894 49.09633)
16,H8100021,La Seine à Vernon,,9.16,Lambert II Étendu,538060,2455707,POINT (1.48894 49.09633)

In [6]:
data= pd.read_csv("https://power.larc.nasa.gov/api/temporal/hourly/point?Time=LST&parameters=T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR&community=AG&longitude=4.6695&latitude=47.6781&start=20010101&end=20201231&format=CSV", skiprows=14)
data

        YEAR  MO  DY  HR   T2M  T2MDEW  T2MWET  QV2M   RH2M  PRECTOTCORR
0       2001   1   1   0 -1.69   -4.82   -3.26  2.75  79.44         0.00
1       2001   1   1   1 -1.29   -4.83   -3.06  2.75  76.88         0.01
2       2001   1   1   2 -0.70   -4.94   -2.82  2.69  72.56         0.01
3       2001   1   1   3 -0.02   -5.22   -2.62  2.62  67.06         0.01
4       2001   1   1   4  0.40   -5.17   -2.38  2.69  65.31         0.02
...      ...  ..  ..  ..   ...     ...     ...   ...    ...          ...
175315  2020  12  31  19  0.40    0.24    0.32  4.03  98.69         0.03
175316  2020  12  31  20  0.10   -0.10    0.01  3.91  98.50         0.03
175317  2020  12  31  21 -0.12   -0.37   -0.24  3.85  98.19         0.03
175318  2020  12  31  22 -0.50   -0.79   -0.64  3.72  98.19         0.03
175319  2020  12  31  23 -0.95   -1.24   -1.10  3.60  98.56         0.03

[175320 rows x 10 columns]

In [7]:
'''Parameter(s):
T2M             MERRA-2 Temperature at 2 Meters (C) 
T2MDEW          MERRA-2 Dew/Frost Point at 2 Meters (C)
T2MWET          MERRA-2 Wet Bulb Temperature at 2 Meters (C) 
QV2M            MERRA-2 Specific Humidity at 2 Meters (g/kg) 
RH2M            MERRA-2 Relative Humidity at 2 Meters (%) 
PRECTOTCORR     MERRA-2 Precipitation Corrected (mm/hour) '''

'Parameter(s):\nT2M             MERRA-2 Temperature at 2 Meters (C) \nT2MDEW          MERRA-2 Dew/Frost Point at 2 Meters (C)\nT2MWET          MERRA-2 Wet Bulb Temperature at 2 Meters (C) \nQV2M            MERRA-2 Specific Humidity at 2 Meters (g/kg) \nRH2M            MERRA-2 Relative Humidity at 2 Meters (%) \nPRECTOTCORR     MERRA-2 Precipitation Corrected (mm/hour) '

In [8]:
'''tableau_stations['lon'] = tableau_stations.geometry.apply(lambda p: p.x)
tableau_stations['lat'] = tableau_stations.geometry.apply(lambda p: p.y)
tableau_stations'''

"tableau_stations['lon'] = tableau_stations.geometry.apply(lambda p: p.x)\ntableau_stations['lat'] = tableau_stations.geometry.apply(lambda p: p.y)\ntableau_stations"

In [9]:
'''for i in range(tableau_stations.shape[0]):
    lon=tableau_stations["lon"][i]
    lat=tableau_stations["lat"][i]
    name=tableau_stations["Code station"][i]
    data = pd.read_csv("https://power.larc.nasa.gov/api/temporal/hourly/point?Time=LST&parameters=T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR&community=AG&longitude={}&latitude={}&start=20010101&end=20201231&format=CSV".format(lon,lat),skiprows=14)
    data.to_csv(str(name)+".csv", index = False, header = True)
'''

'for i in range(tableau_stations.shape[0]):\n    lon=tableau_stations["lon"][i]\n    lat=tableau_stations["lat"][i]\n    name=tableau_stations["Code station"][i]\n    data = pd.read_csv("https://power.larc.nasa.gov/api/temporal/hourly/point?Time=LST&parameters=T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR&community=AG&longitude={}&latitude={}&start=20010101&end=20201231&format=CSV".format(lon,lat),skiprows=14)\n    data.to_csv(str(name)+".csv", index = False, header = True)\n'

In [59]:
commune = pd.read_csv("Centre_region.csv", encoding='latin-1')
commune

,Régions métropolitaines,Aire (km²),lat,lon,Centre (« de gravité sur l'ellipsoïde »)
0,Alsace Champagne-Ardenne Lorraine,"57,715","5°37'10"" E","48°41'21""",Void (Meuse)
1,Aquitaine Limousin Poitou-Charentes,"84,825","0°11'52"" E","45°11'32""",Saint-Vincent-Jalmoutiers (Dordogne)
2,Auvergne Rhône-Alpes,"70,901","4°32'17"" E","45°30'57""",Cellieu (Loire)
3,Bourgogne Franche-Comté,"48,058","4°48'33"" E","47°14'07""",Gergeuil (Côte-d'Or)
4,Bretagne,"27,460","2°50'19"" O","48°10'47""",Saint-Caradec (Côtes d'Armor)
5,Centre-Val de Loire,"39,531","1°41'07"" E","47°28'50""",Vernou-en-Sologne (Loir-et-Cher)
6,Île-de-France,12068,"2°30'17"" E","48°42'33""",Brunoy (Essonne)
7,Languedoc-Roussillon Midi-Pyrénées,"73,368","2°08'14"" E","43°42'08""",Lautrec (Tarn)
8,Nord-Pas-de-Calais Picardie,"31,948","2°46'31"" E","49°57'58""","confins Éclusier-Vaux, Suzanne, Maricourt (Somme)"
9,Normandie,"30,113","0°06'24"" E","49°07'16""",La Houblonnière (Calvados)
10,Pays de la Loire,"32,376","0°49'26"" O","47°28'29""","limite Saint-Augustin-des-Bois, Bécon-les-Gran..."
11,Provence-Alpes-Côte d'Azur,"31,843","6°03'12"" E","43°57'18""",Entrevennes (Alpes-de-Haute-Provence)

In [80]:
x = "48° 31′ 20″"
n=[s for s in x if s.isdigit()]
n.insert(1,".")
magic = lambda n: float("".join(str(i) for i in n))
magic(n)

4.8312

In [86]:
commune["lat"]

KeyError: 'lat'